body {
	width: 100%;
}

.user {
	font-family: 'Lato', sans-serif;
	float: right;
	margin-top: 20px;
}

.main h1 {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}

.input {
	float: right;
	font-family: 'Lato', sans-serif;
	margin-bottom: 100px;
}

.dropdown {
	font-family: 'Lato', sans-serif;
	margin-bottom: 100px;
}

.table{
	font-family: 'Lato', sans-serif;
}